<app-banner src="assets/imagens/banner-homepage.png" alt="Banner musica"></app-banner>

    <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Digite seu nome:">
    </mat-form-field>

    <mat-form-field>
    <mat-label>email</mat-label>
    <input matInput placeholder="Digite seu email:">
    </mat-form-field>
    
    <mat-form-field>
    <mat-label>telefone</mat-label>
    <input matInput placeholder="Digite seu telefone:">
    </mat-form-field>

    <mat-form-field>
    <mat-label>curso</mat-label>
    <input matInput placeholder="Digite seu curso:">
    </mat-form-field>
    
    <mat-form-field>
    <mat-label>Sexo</mat-label>
    <mat-select placeholder="Escolha o sexo">
        <mat-option value="masculino">Masculino</mat-option>
        <mat-option value="feminino">Feminino</mat-option>
    </mat-select>
    </mat-form-field>
    <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput placeholder="Digite qual o seu interesse nesse curso, qual é o objetivo que você quer alcançar!:"></textarea>
    </mat-form-field>


