<mat-card class="card-busca">
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header> -->
  <img mat-card-image
   src="assets/imagens/musica_y_matematicas1.png" alt="Música e matemática">
  <mat-card-content>

    <ul>
        <li>    <p>
      Escolha o seu curso e viva uma experiencia total de aprendizagem focada no tema!
    </p></li>
        <li>Curso</li>
        <li>R$ 300,00</li>
        <li>Mensais</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary">DETALHES DO CURSO</button>
  </mat-card-actions>
</mat-card>
