<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="\assets\imagens\banner-homepage.png"
                class="img-fluid rounded-start" alt="musica">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Desenvolvero do aplicativo</h5>
                <p class="card-text">Olá, sou o Jesse, desenvolvedor de software
                    JAVA, C e Python. <br>
                    Esse aplicativo foi construído colocar em prática as
                    disciplinas de angular da UTFPR, sendo
                    que sua construção está baseado em um curso de música e
                    matemática, onde alunos podem ser inscrever
                    em qualquer um dos cursos e começar a usar o aplicativo,
                    fazendo
                    assim também seu agendamente, junto com o professor. <br>
                    A ideia aqui é o aprendizado correto com contato com a
                    disciplina. <br>
                    Qualquer dúvida é só entrar em contato. <br>
                    Att. <br> Jesse Caetano dos Santos
                </p>
                <p class="card-text"><small class="text-body-secondary">Estamos
                        continuando o desenvolimento do aplicativo..</small></p>
            </div>
        </div>
    </div>
</div>