<section class="modal">
<h1 mat-dialog-title>Inicantes</h1>
<div mat-dialog-content>
    <div class="selecao-inciante">
        <ul>
            <li>Iniciação a música</li>
            <li>Iniciação a matemática</li>
            <li>Iniciação a física aplicada</li>
            <li>Iniciação a física aplicada</li>
            <li>
                <button class="decremento" mat-mini-fab>
                    <img src="assets/icones/do_not_disturb_on.png" 
                    alt="Operador de subtração">
                </button>
                <span>1</span>
                <button class="incremento" mat-mini-fab>
                    <img src="assets/icones/add_circle.png" 
                    alt="Operador de adição">
                </button>
            </li>
        </ul>

    </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
</section>
