<table class="table">
    <thead>

    </thead>
    <tbody>
        <tr *ngFor="let aluno of alunos">
            <td>{{aluno.id}}</td>
            <td>{{aluno.nomeCompleto}}</td>
            <td>{{aluno.profissao}}</td>
            <td>
                <span class="float-rigth">
                    <button class="btn btn-outline-warning mb-1 btn-sm">
                        Atualizar
                    </button>

                    <button class="btn btn-outline-danger mb-1 btn-sm">
                        Remover
                    </button>
                </span>
            </td>
        </tr>
    </tbody>

</table>